/*start global selectors */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headings {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  
}
/* end global selectors */

.header {
  color: black;
  font-weight: bold;
  font-size: 28px;
  height:50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.container {
  /* to ensure that the content will not 
    start from the extreme left and right of the screen  */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
}
/* ----------nav bar start--------- */
.nav-links {
  margin-right: 30px;
  display: none;
}
.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
ul li a:hover {
  color: #854fee;
}
#menu-icon {
  display: none;
}
/* ----------nav bar end--------- */
/*title start*/
.parent-title {
  margin-top: 30px;
}
.parent-title .container,
 .parent-introduce .container,
 .parent-experiance .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:50px;
}
.parent-title .container img,
 .parent-introduce img {
  width: 550px;
  height: 338px;
}
/*title end*/
/* introduce start */
#introduce-paragraph{
  width: 22em;
}
/* introduce end */
/* experiance start */
.parent-experiance .container {
  flex-direction: row;
  
}
.parent-experiance .container .items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  width: 50%;
}
.parent-experiance .container .items img{
  color: black;
  border: 2px solid rgb(210 200 200);
  padding: 12px 21px;
  width: 142px;
  height: 73px;
}
.parent-experiance .container .yearsAndContactUs{
  width: 32%;
  background-color: #FAF8FF;
  display: flex;
  flex-direction: column;
  height: 233px;
  position: relative;
}
.parent-experiance .container .yearsAndContactUs .callUsDiv{
  position: absolute;
  bottom: 57px;
  left: 40px;
}
#callUsnowTitle{
  color:#854fe3;
  padding-left:23px;
  text-transform: uppercase;
}
#callUsContainer{
  position: relative;
}
#PhoneNumber{
  font-size: 18px;
  letter-spacing: 4px;
  padding-left:23px;
}
#call-icon{
  position: absolute;
  bottom: 5px;
  left: -13px;
}

.parent-experiance .container .yearsAndContactUs .experianceDiv{
  /* position: relative; */
}

#ten{
  font-size: 68px;
  color: #854fe3;
  position: absolute;
  top: 10px;
  left: 35px;

}
#yearsOfExp{
  color: black;
  font-size: 18px;
  position: absolute;
  left: 115px;
  top: 20px;
}
.ten-parent-div{
  position: relative;
}
/* experiance end */
/* <!-- start service offers --> */
.parent-service{
  margin-bottom: 75px;
}
.parent-service .container {
  text-align: center;

}
.parent-service .container h2{
  text-transform: uppercase;
  font-weight: bolder;
    font-size:48px;
}
.parent-service .container p {
  margin: 0 180px;
    font-size: 18px;
}
/* <!-- end service offers --> */

/* <!-- front-end skills start --> */
.parent-front-end-skills .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px auto;

}
.parent-front-end-skills .container div{
  display: flex;
  flex-flow: column;
  background-color: #FAF8FF;
  width: calc(100% / 4 - 26px);
  height: 303px;
  text-align: center;
  padding: 22px;
  justify-content: center;
  
}
.parent-front-end-skills .container div img{
  width: 113px;
  height: 88px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 0 auto;
}
.parent-front-end-skills .container div h4{
  text-transform: uppercase;

}
/* <!-- front-end skills end --> */
/* <!-- qulity work start --> */
.parent-quality-wrok{
    margin: 150px auto;
}
.parent-quality-wrok .container h1{
  font-size:48px;
  }
/* <!-- qulity work end --> */
/* <!-- filtering bar start --> */
.parent-filtering .container{
  width: 1170x;
  
}
.parent-filtering .container .nested-container{
    width: 50%;
}
.parent-filtering .container .nested-container ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left:0; 
}
.nested-container
.parent-filtering .container .nested-container ul li{
  text-transform: uppercase;
  

}
.parent-filtering .container .nested-container ul li a{
  font-weight: normal;
}
/* <!-- filtering bar end --> */
/* <!--    animated protfolio start--> */
.parent-protfloio-galary{
  margin-top:50px;
  margin-bottom:180px;
}
.parent-protfloio-galary .container {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
}
/* <!--    animated protfolio end--> */
/* <!-- Authors start --> */
.parent-authors{
  margin: 50px auto;
}
.parent-authors .container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}
.parent-authors .container .first-author,
 .parent-authors .container .second-author{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  width: calc(100% / 2 - 10px);
  box-shadow: 4px 6px 28px -7px #898491;

  
}
.parent-authors .container .first-author img,
 .parent-authors .container .second-author img{
   grid-row: span 3;
   width:100%;
 }
 .parent-authors .container .first-author h3,
 .parent-authors .container .second-author h3{
   text-transform: uppercase;
   padding-left:10px;

 }
 .parent-authors .container .first-author p,
 .parent-authors .container .second-author p{
   color: #E1E1E1;
   padding: 10px;
   
 }
/* <!-- Authors end --> */
/* <!-- dots bulets start  --> */
.parents-pages-dots .container{
  display:flex;
  justify-content: center;
  
}
.parents-pages-dots .container span{
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto 7px;
}
.parents-pages-dots .container span:nth-child(2){
  background-color:#854fe3;
}
/* <!-- dots bulets end  --> */

/* <!-- purpule banner start --> */
.purple-banner{
  margin:150px auto;
}
.purple-banner .container > *{
  color: white;
  
}
.purple-banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#854fe3;
  height: 425px;
  background-image: url("../images/home-banner.png");
}
.purple-banner .container h2{
  text-transform: uppercase;
  margin: 12px auto;
}
.purple-banner .container p{
  margin: 10px auto;
}
#email{
  background-color: transparent;
  border-radius: 3px;
  height: 36px;
  border: 1px solid white;
  width: 334px;
  margin-right:15px;
}
#email::placeholder{
  color:white;
  padding-left: 10px
}
#email::-moz-placeholder{
  color:white;
  opacity: 1;
  padding-left: 10px
}
.purple-banner .container .email-container{
  width: auto;
  margin-top: 29px;
}
.purple-banner .container .btn{
  background-color: white;
  color: black;
  text-transform: uppercase;
  height: 100%;
  box-shadow: 4px 6px 28px -7px #898491;
  border-radius: 4px;
  width: auto;
  font-size: 13px;
  padding: 12px 32px;
  font-weight: 700;
}
/* <!-- purpule banner end --> */
/* <!-- footer start --> */
footer{
    margin:50px auto;
}
footer .container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-top:-45px;
}
/* <!-- footer end --> */
/* buttons start */
.btn{
  padding: 12px;
  width: 135px;
  border-radius: 3px;
}

.main-btn {
    color: white;
    background-color: #854fee;
    box-shadow: 4px 6px 28px -7px #854fe3;
    border: none;
    margin-right: 20px;
    margin-top:15px;
}
.get-cv-btn {
  color: black;
  background-color: transparent;
  border: 1px solid #854fe3;
  margin-top:15px;
}
.nav-links-small{
  display: none;
  
}


/* buttons end */
/* small */
/* up to 991 */
@media (max-width: 991px) {
  .super{
    display: block;
overflow: auto;
  }
  .container {
    width: 100%;
  }
  .nav-links {
    width: 80%;
    display: none;
  }
  #menu-icon {
    display: initial;
  }
  .parent-title .container *,
  .parent-introduce .container *
  {
    text-align: center;
  }
  .parent-title .container{
    flex-direction: column;
    justify-content: space-between;
    
  }
  .parent-introduce{
    margin-top:83px;
  }
  .parent-introduce .container{
    flex-direction: column-reverse;
    justify-content: space-between;
    
  }

  .main-btn {
    color: white;
    background-color: #854fee;
    box-shadow: 4px 6px 28px -7px #854fe3;
    border: none;
    padding: 7px;
    /* margin-right: 20px; */
    /* margin-top: 15px; */
}

  .nav-links ul li a{
    color:red;
  }
  .parent-title .container img, .parent-introduce img  {
    width: 417px;
  }
   .parent-experiance .container {
      flex-direction: column-reverse;
      margin-top: 50px;
   }
  
    .parent-experiance .container .yearsAndContactUs {
      width: 100%;
      margin-bottom: 16px;
  } 
  
 .parent-experiance .container .items {
  width: 71%;
  grid-template-columns: repeat(2, 1fr)
} 
#callUsContainer {
  top: 20px;
}

.parent-service .container p {
  margin: initial;
  
}

.parent-service .container{
}
.parent-front-end-skills .container div {
  width: calc(100% / 2 - 11px);
}
.parent-front-end-skills .container {
  flex-wrap: wrap;
}
.parent-quality-wrok {
  margin: initial;
}
.parent-quality-wrok .container{
}
.parent-quality-wrok .container h1 {
  font-size: 35px;
}

.parent-filtering .container{
}
.parent-filtering .container .nested-container ul {
  flex-wrap: wrap;
  justify-content: center;
}
.parent-filtering .container .nested-container {
  width: 100%;
}
.parent-filtering .container .nested-container ul li{
  width: calc(100% / 2 - 14px);
    margin: 2px;
    text-align: center;
    background-color: #854fe3;
    border-radius: 6px;
    padding: 5px;
}

.parent-protfloio-galary .container {
  flex-direction: column;
  align-items: center;  
}
.parent-protfloio-galary .container div{
  margin-bottom:10px;
  }
.parent-protfloio-galary .container *{
text-align: center;
}

.parent-authors .container {
  flex-direction: column;
  flex-wrap: nowrap;
}
.parent-authors .container .first-author,
 .parent-authors .container .second-author {
  width: initial;
}


.purple-banner {
  margin: 71px auto;
}
.purple-banner .container {
  height: 570px;

}
.purple-banner .container .email-container form{
  width: auto;
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.purple-banner .container .email-container{
  margin-top: initial;

}
#email{
  margin-bottom: 10px;
}

/* drop down list start */
#menu-icon:hover .nav-links-small{
  display: inline-flex;
  color:red;
}
.header .container #menu-icon:hover .nav-links-small pre{
  color:red;

}
.nav-links-small{
  
  justify-content: center;
  flex-direction: column;
  margin-right: 35px;
  background-color: #eee;
  position: absolute;
  right: -21px;
  top: 59px;
  width: 230px;
  
}
.nav-links-small ul{
  list-style-type: none;
    width: 100%;
    padding: 8px 10px;
    
}
.nav-links-small ul li{
  list-style-type: none;
  padding-bottom: 15px;
  /* border-top: 1px solid #444; */
}
.nav-links-small ul li a{
width:100%;
display:block;
  /* border-top: 1px solid #444; */
}
.nav-links-small ul li:not(:last-child) a{
  border-bottom: 1px solid #444;
}
.nav-links-small ul li a{
transition: 0.3s;
}
.nav-links-small ul li a:hover{
  padding-left:15px;
  
  }
.arrow{
  width: 0px;
  height: 0px;
  border-color: transparent transparent #eee transparent;
  border-width: 19px;
  border-style: solid;
  position: absolute;
  top: -38px;
  right: -1px;
  z-index: 1100;
}

/* drop down lisr end */

}
/* Medium */
/* 992 - 1199 */
@media (min-width: 992px) {
  .container {
    width: 970px;
    
  }
  .nav-links {
    width: 77%;
    display: initial;
  }
  #menu-icon {
    display: none;
  }
  .nav-links ul li a{
    color:green;
  }
  .parent-title .container img, .parent-introduce img  {
    width: 458px;
    height: 329px;
  }
}
/* Large */
/* 1200 or more */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .nav-links {
    width: 70%;
    display: initial;
    /* margin-right: 25px;; */
  }
  #menu-icon {
    display: none;
  }
  .nav-links ul li a{
    color:red;
  }
  .parent-title .container img, .parent-introduce img  {
    width: 550px;
    height: 338px;
  }
}
